<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{exerciseInfos.create.title}"></title>
</head>
<body class="d-flex">
<main class="flex-shrink-0">
    <section class="py-5 min-vh-100" layout:fragment="body">
        <div class="container">
            <div class="text-center mb-5">
                <h1 class="fw-bolder" th:text="#{exerciseInfos.create.form.title}"></h1>
            </div>
            <form id="exercise-infos-create-form" role="form" th:action="@{/exercise-infos/create}"
                  th:method="post" th:object="${exerciseInfo}">
                <div class="form-group mb-2">
                    <label for="name" th:text="#{exerciseInfos.create.form.name}"></label>
                    <input class="form-control"
                           id="name"
                           name="name"
                           th:field="*{name}"
                           th:placeholder="#{exerciseInfos.create.form.name.placeholder}"
                           type="text">
                    <div class="text-danger" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></div>
                    <div class="text-danger d-none" id="exercise-infos-create-name-not-null"
                         th:text="#{exerciseInfo.name.notNull}" th:unless="${#fields.hasErrors('name')}"></div>
                </div>
                <div class="form-group mb-2">
                    <label for="muscle-groups" th:text="#{exerciseInfos.create.form.muscleGroups}"></label>
                    <select class="form-control selectpicker"
                            id="muscle-groups"
                            name="muscleGroups"
                            multiple
                            th:field="*{muscleGroups}"
                            th:title="#{exerciseInfos.create.form.muscleGroups.placeholder}">
                        <div th:each="muscleGroup : ${allMuscleGroups}">
                            <option th:text="${muscleGroup.name}" th:value="${muscleGroup.name}"></option>
                        </div>
                    </select>
                    <div class="text-danger" th:errors="*{muscleGroups}"
                         th:if="${#fields.hasErrors('muscleGroups')}"></div>
                    <div class="text-danger d-none" id="exercise-infos-create-muscle-groups-not-empty"
                         th:text="#{exerciseInfo.muscleGroups.notEmpty}"
                         th:unless="${#fields.hasErrors('muscleGroups')}"></div>
                </div>
                <a class="btn btn-danger" href="#" role="button" th:href="@{/exercise-infos}"
                   th:text="#{exerciseInfo.create.form.cancel}"></a>
                <button class="btn btn-primary" th:text="#{exerciseInfo.create.form.create}" type="submit"></button>
            </form>
        </div>
    </section>
</main>
</body>
</html>