<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{nutrientsTracks.list.title}"></title>
</head>
<body class="d-flex">
<main class="flex-shrink-0">
    <section class="py-5 min-vh-100" layout:fragment="body">
        <div class="container px-5 my-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center mb-5">
                        <h1 class="fw-bolder" th:text="#{nutrientsTracks.list.table.title}"></h1>
                    </div>
                </div>
            </div>
            <div class="row gx-5">
                <div class="col d-block">
                    <table class="table">
                        <thead>
                        <tr>
                            <th th:text="#{nutrientsTracks.list.table.date}"></th>
                            <th th:text="#{nutrientsTracks.list.table.fats}"></th>
                            <th th:text="#{nutrientsTracks.list.table.carbohydrates}"></th>
                            <th th:text="#{nutrientsTracks.list.table.protein}"></th>
                            <th th:text="#{nutrientsTracks.list.table.calories}"></th>
                            <th th:text="#{nutrientsTracks.list.table.edit}"></th>
                            <th th:text="#{nutrientsTracks.list.table.delete}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="nutrientsTrack : ${page}">
                            <td th:text="${#dates.format(nutrientsTrack.date, 'dd-MM-yyyy')}"></td>
                            <td th:text="${nutrientsTrack.fats}"></td>
                            <td th:text="${nutrientsTrack.carbohydrates}"></td>
                            <td th:text="${nutrientsTrack.protein}"></td>
                            <td th:text="${nutrientsTrack.calories}"></td>
                            <td>
                                <a class="btn btn-primary"
                                   th:href="@{nutrients-tracks/{id}(id=${nutrientsTrack.id})}"
                                   th:text="#{nutrientsTracks.list.table.edit}"></a>
                            </td>
                            <td>
                                <form role="form"
                                      th:action="@{/nutrients-tracks/{id}(id=${nutrientsTrack.id})}"
                                      th:method="delete">
                                    <button class="btn btn-primary"
                                            th:text="#{nutrientsTracks.list.table.delete}"
                                            type="submit"></button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <a class="btn btn-primary" role="button" th:href="@{/nutrients-tracks/create}"
                       th:text="#{nutrientsTracks.list.table.create}"></a>
                </div>
                <div class="col">
                    <canvas id="caloriesTrackingChart"
                            th:labels="${chartLabels}" th:data-sets="${caloriesChartDataSets}">
                    </canvas>
                    <canvas id="fatsTrackingChart"
                            th:labels="${chartLabels}" th:data-sets="${fatsChartDataSets}">
                    </canvas>
                    <canvas id="carbohydratesTrackingChart"
                            th:labels="${chartLabels}" th:data-sets="${carbohydratesChartDataSets}">
                    </canvas>
                    <canvas id="proteinTrackingChart"
                            th:labels="${chartLabels}" th:data-sets="${proteinChartDataSets}">
                    </canvas>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>