<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{users.list.title}"></title>
</head>
<body class="d-flex">
<main class="flex-shrink-0">
    <section class="py-5 min-vh-100" layout:fragment="body">
        <div class="container px-5 my-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center mb-5">
                        <h1 class="fw-bolder" th:text="#{users.list.table.title}"></h1>
                    </div>
                </div>
            </div>
            <div class="row gx-5">
                <div class="col d-block">
                    <div class="row my-3 ps-2">
                        <div class="col mt-2 ps-0">
                            <nav th:replace="fragments/paging-bar :: paging-bar('/users')"
                                 th:if="${totalPages > 0}"></nav>
                        </div>
                        <div class="col-3">
                            <form th:action="@{/users}" id="pageForm">
                                <div class="form-group mt-2 row">
                                    <div class="row justify-content-end">
                                        <div class="input-group">
                                            <div class="col">
                                                <label class="input-group-text" for="pageOrder"
                                                       th:text="#{users.list.table.paging.pageOrder}"></label>
                                            </div>
                                            <select form="pageForm" name="order" th:value="${pageOrder}"
                                                    onchange="changePage()" class="size-select col"
                                                    id="pageOrder">
                                                <option th:each="s : ${ {'asc', 'desc'} }" th:value="${s}"
                                                        th:text="${s}" th:selected="${s == pageOrder}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row justify-content-end">
                                        <div class="input-group">
                                            <div class="col">
                                                <label class="input-group-text" for="pageSortBy"
                                                       th:text="#{users.list.table.paging.pageSortBy}"></label>
                                            </div>
                                            <select form="pageForm" name="sortBy" th:value="${pageSortBy}"
                                                    onchange="changePage()" class="size-select col"
                                                    id="pageSortBy">
                                                <option th:each="s : ${ {'id', 'username', 'email'} }" th:value="${s}"
                                                        th:text="${s}" th:selected="${s == pageSortBy}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row justify-content-end">
                                        <div class="input-group">
                                            <div class="col">
                                                <label class="input-group-text" for="pageSize"
                                                       th:text="#{users.list.table.paging.pageSize}"></label>
                                            </div>
                                            <select form="pageForm" name="size" th:value="${pageSize}"
                                                    onchange="changePage()" class="size-select col"
                                                    id="pageSize">
                                                <option th:each="s : ${ {5, 10, 20, 50} }" th:value="${s}"
                                                        th:text="${s}" th:selected="${s == pageSize}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row d-inline-block ps-2">
                        <a class="btn btn-primary" role="button" th:href="@{/users/create}"
                           th:text="#{users.list.table.create}"></a>
                    </div>
                    <table class="table" th:if="${users.size() > 0}">
                        <thead>
                        <tr>
                            <th th:text="#{users.list.table.id}"></th>
                            <th th:text="#{users.list.table.username}"></th>
                            <th th:text="#{users.list.table.email}"></th>
                            <th th:text="#{users.list.table.roles}"></th>
                            <th th:text="#{users.list.table.edit}"></th>
                            <th th:text="#{users.list.table.delete}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.username}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.roles}"></td>
                            <td>
                                <a class="btn btn-primary" th:href="@{users/{id}(id=${user.id})}"
                                   th:text="#{users.list.table.edit}"></a>
                            </td>
                            <td>
                                <form role="form" th:action="@{/users/{id}(id=${user.id})}" th:method="delete">
                                    <button class="btn btn-primary" th:text="#{users.list.table.delete}"
                                            type="submit"></button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div th:unless="${users.size() > 0}" class="text-center mb-3">
                        <span th:text="#{users.list.table.notFound}"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>