<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="modal(workout)" id="workouts-create-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="workoutsCreateModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="workoutsCreateModal" th:text="#{workouts.create.modal.title}"></h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:action="@{/workouts/create}" th:method="post" th:object="${workout}">
                <div class="modal-body">
                    <label for="date" th:text="#{workouts.create.modal.form.date}"></label>
                    <div class="input-group date" id="datepicker">
                        <input type="text" class="form-control"
                               id="date" th:field="*{date}" name="date"
                               th:placeholder="#{workouts.create.modal.form.date.placeholder}"/>
                        <span class="input-group-append">
                            <span class="input-group-text bg-light d-block">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>